

body {
	background-color: #f2f2f2;
  color: #900;
  font-family: arial;
}

.title{
	text-align: center	
}


.gameboard{
  width: 469px;
  height: 469px;
  margin: auto;
}

.cell{
  float:left;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  border: 3px solid black;
  font-size: 50px;
  display: inline-block;
  font-family: sans-serif;
  margin: 0%;
  font-family: arial black;
  color: rgba(0,0,0,0);
  /*#00cc99;*/
}



#playAgain {
  color: #900;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  margin: auto;
  padding: 5px;
  display: block;
}
